.parent {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.container {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 1rem;
}
.image {
  width: 100%;
}
.photo {
  position: relative;
  margin-top: 1rem;
}
.photoIcons {
  position: absolute;
  padding: 2rem;
  z-index: 3;
}
.photoIcon {
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: #fff;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  cursor: pointer;
}
.topIcons .photoIcon:nth-child(1) {
  margin-right: 1rem;
}
.topIcons {
  display: flex;
  top: 0;
  right: 0;
}
.bottomIcons {
  bottom: 0;
  right: 0;
}
.photographerInfo {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}
.photographerInfo > a {
  text-decoration: none;
}
.nickname {
  color: #dfdfdf;
}
.name {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.videoItem {
  margin: 1rem 0;
}
.video {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}
