.container {
  position: relative;
  width: 100%;
  height: 50rem;
}
.video {
  display: block;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.header h1 {
  color: #fff;
  font-weight: 200;
  padding: 2rem;
}
.searchBarParent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.searchBar {
  display: flex;
  width: 50%;
  position: relative;
}
.searchBar > input {
  padding: 1rem 4rem 1rem 9rem;
  border-radius: 5rem;
  border: 1px solid #ffc300;
  outline: none;
  color: #fff;
  background: none;
  width: 100%;
}
.findBtn {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  background-color: #ffc300;
}

.searchCurrentOption {
  height: 100%;
  width: 100%;
}
.searchOptionsParent {
  background-color: #ffc300;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.searchOptionsParent button {
  border: none;
  background: none;
  color: #000;
  width: 7rem;
  height: 100%;
  font-weight: 600;
  cursor: pointer;
}
.searchOptionsParent:hover {
  background-color: #ffd858;
}
.searchOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  background-color: #fff;
  top: 3.7rem;
  padding: 0.5rem 0rem;
  gap: 0.5rem;
  z-index: 7;
}
.searchOption > button {
  padding: 0.8rem 0rem;
  cursor: pointer;
}
.searchOption:hover {
  background-color: #e2e2e2;
}
.searchOption > span {
  font-size: 1rem;
}
