.searchResultParent {
  display: flex;
  justify-content: center;
}
.searchResult {
  display: flex;
  position: absolute;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  z-index: 3;
  gap: 2rem;
  height: 70%;
  background-color: #000814;
  padding: 3rem;
  border-radius: 3rem;
}
.searchResult > a > img {
  border-radius: 3rem;
}
.video {
  width: 13rem;
  border-radius: 3rem;
}
.alert {
  display: flex;
  color: #fff;
  align-self: center;
  font-size: 2rem;
}
.total {
  color: #fff;
  margin-top: 0.5rem;
  z-index: 4;
  font-weight: 400;
}
