*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Notosans";
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 700;
}
body {
  background-color: #000814;
}
